.hide {
    display: none;
}

#question {
    width: 100%;
    text-align: center;
}

#question-div {
    flex-wrap: wrap;
    justify-content: center;
}

#question-div button {
    margin: 20px;
}

#user-initals {
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
}

a {
    margin: 8px;
}